<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Attendance_System_V2._0.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"  ><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
        
    </startup>
    <userSettings>
        <Attendance_System_V2._0.My.MySettings>
            <setting name="ipadd" serializeAs="String">
                <value />
            </setting>
            <setting name="userid" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="pssword" serializeAs="String">
                <value />
            </setting>
            <setting name="TrailActive" serializeAs="String">
                <value />
            </setting>
            <setting name="StartDate" serializeAs="String">
                <value />
            </setting>
            <setting name="TrialUsed" serializeAs="String">
                <value />
            </setting>
            <setting name="Activation" serializeAs="String">
                <value />
            </setting>
        </Attendance_System_V2._0.My.MySettings>
    </userSettings>
</configuration>